.App {
  text-align: center;
  background-color: 'black';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  margin-right: 10;
  margin-left: 10;
  background-color: 'black';
}

.tile-padding {
  padding: .9375rem
}

.inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.fill {
  height: 100vh;
  width: 100vw;
}
